All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <ul><%= job.title %></ul>
<% end %>

<%= link_to "Create New Contact", new_company_contact_path(@company)%>

<h4>Contacts</h4>
<% @company.contacts.each do |contact| %>
<%= contact.name %> <%= contact.job %> <%= contact.email %>
<% end %>
